@charset "utf-8";
html {
    font-size: 100px;
}

html, body, .swiper-container, .swiper-slide {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}


/*--music start--*/
.music {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("../img/music.svg") no-repeat;
    background-size: 100% 100%;
}

.music.move {
    -webkit-animation: musicMove 1s linear infinite both;
    animation: musicMove 1s linear infinite both;
}

.move .musicAudio {
    display: none;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* slide */

.swiper-slide {
    position: relative;
}

.page0 {
    background: url("../img/Snow.jpg");
    background-size: cover;
}

.page0 img, .page0 .snow {
    position: absolute;
    opacity: 0;
}

.page0>img:nth-child(1) {
    top: 1rem;
    left: .35rem;
    /* width: 1.22rem; */
    width: 2.44rem;
    /* height: .39rem; */
    height: .78rem;
}
.page0>img:nth-child(2) {
    top: 1.9rem;
    left: 1.5rem;
    /* width: .13rem; */
    width: .26rem;
    /* height: .53rem; */
    height: 1.06rem;
}
.page0>img:nth-child(3) {
    top: 3.1rem;
    left: .33rem;
    width: 2.5rem;
    /* width: 2.5rem; */
    height: .75rem;
    /* height: .5rem; */
}
.page0>img:nth-child(4) {
    top: 4.2rem;
    left: 1.5rem;
    width: .26rem;
    /* width: .13rem; */
    height: 1.06rem;
    /* height: .53rem; */
}
.page0>img:nth-child(5) {
    top: 5.23rem;
    left: .5rem;
    /* width: 1.1rem; */
    width: 2.2rem;
    /* height: .39rem; */
    height: .78rem;
}

.page0>img:nth-child(6) {
    top: 6.2rem;
    left: 1.5rem;
    width: .26rem;
    /* width: .13rem; */
    /* height: .53rem; */
    height: 1.06rem;
}

.page0>img:nth-child(7) {
    top: 7.26rem;
    left: 0.4rem;
    width: 2.5rem;
    /* width: 1.25rem; */
    height: .74rem;
    /* height: .37rem; */
}
.page0>img:nth-child(8) {
    top: 8.15rem;
    left: 1.5rem;
    /* width: .13rem; */
    width: .26rem;
    /* height: .53rem; */
    height: 1.06rem;
}
.page0>img:nth-child(9) {
    top: 9.2rem;
    left: 1.1rem;
    width: 1rem;
    /* width: .5rem; */
    height: .8rem;
    /* height: .4rem; */
}


.page0 img.qiaobusi {
    top: 3.2rem;
    left: 1.5rem;
    width: 5.5rem;
    /* width: .5rem; */
    height: 6.5rem;
    background-size: contain;
    /* height: .4rem; */
}
.page0 img.foolish {

    top: 9.0rem;
    left: 2.3rem;
    width: 4rem;
    height: 1.0rem;

    background-size: cover;
    /*background-color: lightblue;*/
}

.page0 .snow {
    z-index: -10;
    top: 8rem;
    right: .1rem;
    background: url("../img/Snow11.png") no-repeat ;
    background-size: cover;
    width: 7rem;
    height: 10rem;
}

.page2 {
    background: url("../img/jinengtubeijing.png") no-repeat;
    background-size: cover;
}

.page1,.page3 {
    background: url("../img/Earth-and-Moon.jpg") no-repeat;
    background-size: cover;
}

/*  去除每一页的 出现回又隐藏效果*/

.page1 div , .page2 div , .page3 div  {

 position: absolute;
    opacity:  0;


}

.page1 div  span, .page2 div  span , .page3 div span  {
    display: block;
    color:whitesmoke;
    background-color: black;
    font-size: .34rem;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    word-wrap:break-word;
    text-align: center;
    line-height: 100%;
}


.page1 div.title  span, .page2 div.title  span, .page2 div.title  span {
    font-size:  .6rem;

    /*box-shadow: .03rem .03rem .1rem 0 #c0c0c0 ;*/
    box-shadow:  .04rem .04rem .1rem 0 rgb(24,192,86);


}

.page1  img {
    position: absolute;
    /* opacity: 0; */
    bottom: 0.3rem;
    left: -0.19rem;
    width: 2.8rem;
    height: 6.54rem;
}

.page1  div {

    position: absolute;
    text-align: center;
    line-height: .4rem;

    background-color: #cccccc;
    border-radius: .1rem;
    float: left;
    /*display: block;*/
    /*如果文本之间没有空格,以为是英文不换行*/
    word-wrap:break-word;
}
/*  左移入   */

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* 向下渐入小  */

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}



/* 从小到大入*/

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}



@-webkit-keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

/*.page1  div:not(:nth-child(4)){*/
#page1  div{
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .3s both;
}
#page0  img:nth-child(1) {

    -webkit-animation: fadeInDown .4s linear .1s  both;
    animation: fadeInDown .4s linear .1s both;

}
#page0  img:nth-child(2) {

-webkit-animation: fadeInDown .4s linear .2s  both;
    animation: fadeInDown .4s linear .2s both;

}
#page0  img:nth-child(3) {

-webkit-animation: fadeInDown .4s linear .3s  both;
    animation: fadeInDown .4s linear .3s both;

}
#page0  img:nth-child(4) {

    -webkit-animation: fadeInDown .4s linear .4s  both;
    animation: fadeInDown .4s linear .4s both;

}

#page0  img:nth-child(5) {

    -webkit-animation: fadeInDown .4s linear .5s  both;
    animation: fadeInDown .4s linear .5s both;

}

#page0  img:nth-child(6) {

    -webkit-animation: fadeInDown .4s linear .6s  both;
    animation: fadeInDown .4s linear .6s both;

}

#page0  img:nth-child(7) {

    -webkit-animation: fadeInDown .4s linear .7s  both;
    animation: fadeInDown .4s linear .7s both;

}

#page0  img:nth-child(8) {

    -webkit-animation: fadeInDown .4s linear .8s  both;
    animation: fadeInDown .4s linear .8s both;

}

#page0  img:nth-child(9) {

    -webkit-animation: fadeInDown .4s linear .9s  both;
    animation: fadeInDown .4s linear .9s both;
}

#page0  img.foolish {

    -webkit-animation: zoomIn .4s linear 1.2s  both;
    animation: zoomIn .4s linear 1.2s  both;
}

#page0  img.qiaobusi {

    -webkit-animation: zoomIn .4s linear 1.4s  both;
    animation: zoomIn .4s linear 1.4s both;
}



#page0 .snow {

    -webkit-animation: fadeInDown 2s linear .9s  both infinite;
    animation: fadeInDown 2s linear .9s both infinite;
}

#page1  div:nth-child(3), #page1 div:nth-child(4){
    -webkit-animation: fadeInLeft .4s linear  both;
    animation: fadeInLeft .4s linear  both;
}

#page2  div:nth-child(2) {
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .3s both;
}
#page2  div:nth-child(3) {
    /*bounceInUp*/
    -webkit-animation: fadeInLeft .4s linear  both;
    animation: fadeInLeft .4s linear  both;

}
#page2  div:nth-child(4) {
    /*bounceInUp*/
    -webkit-animation: fadeInLeft .4s  both ;
    animation: fadeInLeft .4s  both;

}

#page2  div:nth-child(5) {
    /*bounceInUp*/
    -webkit-animation: fadeInLeft .4s linear  both ;
    animation: fadeInLeft .4s linear  both;

}
#page2  div:nth-child(6) {
    /*bounceInUp*/
    -webkit-animation: fadeInLeft .4s linear  both  ;
    animation: fadeInLeft .4s linear  both;
}
#page2  div:nth-child(7) {
    /*bounceInUp*/
    -webkit-animation: fadeInLeft .4s linear  both  ;
    animation: fadeInLeft  .4s linear  both;

}
#page2  div:nth-child(8) {
    -webkit-animation: fadeInLeft .4s linear  both  ;
    animation: fadeInLeft  .4s linear  both ;


 }
#page2  div:nth-child(9) {
      /*bounceInUp*/

    -webkit-animation: fadeInLeft .4s linear  both;
    animation: fadeInLeft .4s linear  both;
  }

#page2  div:nth-child(10) {

    -webkit-animation: fadeInLeft .4s linear  both ;
    animation: fadeInLeft .4s linear  both;
}



#thanks div.fadeInDown {
    /*bounceInUp*/
    -webkit-animation: fadeInDown .4s both;
    animation: fadeInDown .4s both;
}

/*#thanks div.fadeInDown {*/
    /*-webkit-animation: zoomOut .4s both 2;*/
    /*animation: zoomOut .4s both 2;*/

/*}*/


#thanks img.code {
    /*bounceInUp*/
    -webkit-animation: zoomIn .4s both 15s;
    animation: zoomIn .4s both 3s;
}

#thanks img.qq {
    /*bounceInUp*/
    -webkit-animation: zoomIn .4s both 3s;
    animation: zoomIn .4s both 1.5s;
}

/*#thanks img.QQ {*/
    /*!*bounceInUp*!*/
    /*-webkit-animation: zoomOut .4s both 14s;*/
    /*animation: zoomOut .4s both 14s;*/
/*}*/

/*姓名*/
.page1  div:nth-child(1){
    left: 2.0rem;
    top: 1.4rem;
}

/* 电话 */
.page1  div:nth-child(2){
    left: 2.0rem;
     top: 2.4rem;

}

/* github */
.page1  div:nth-child(3) {
    top: 4rem;
    width: 4rem;
    right: 1.0rem;

}

.page1 > div:nth-child(4) {
    top: 5.1rem;
    width: 5rem;
    right: 1.0rem;
}


.page1  div:nth-child(3) span, .page1  div:nth-child(4) span{
    text-align: center;
}
/* stackover */

/* GitHub*/

.page1 > div:nth-child(5) {
    top: 6.5rem;
    right: 0.08rem;
    width: 3.3rem;
    /*height: 1.2rem;*/
    line-height: 0.28rem;
    /*background-color: green;*/
}

/*stackover*/

.page1 > div:nth-child(6) {
    top: 8.5rem;
    right: 0.08rem;
    opacity: 0;
    width: 4.0rem;

}

/*  page2 */

.page2>div:nth-child(2) {
    bottom: 0.9rem;
    left: 0.1rem;
    border-radius: .04rem;
}
.page2>div:nth-child(3) {
    bottom: 3.55rem;
    left: 1rem;
}

.page2>div:nth-child(4) {
    bottom: 2.5rem;
    left: .1rem;
}
.page2 div:nth-child(5) {
    bottom: 5.3rem;
    left: .1rem;
}
.page2 div:nth-child(6) {
    bottom: 4.2rem;
    left: .1rem;
}
.page2 div:nth-child(7) {
    bottom: 1.8rem;
    left: .1rem;
}
.page2 div:nth-child(8) {
    bottom: 5.9rem;
    left: .1rem;
}
.page2 div:nth-child(9) {
    bottom: 3.5rem;
    left: .1rem;
}
.page2 div.javascirpt {
    bottom: 4.7rem;
    left: .1rem;
}
.page2 div.javascirpt span {
    /*color: #D9D919;*/
    color: rgb(255,204,0 );
}


.thanks {
    background: url("../img/starSky.jpg");
    background-size: cover;
}


.thanks div , .thanks img {
    position: absolute;
    opacity:  0;
}




.thanks div:nth-child(1) {
    top: 5.2rem;
    left: 1.1rem;
    width: 4rem;
    height: .5rem;

}


.thanks div:nth-child(2){
    top: 6.2rem;
    left: 2.1rem;
    width: 4rem;
    height: .5rem;
}


.thanks div span {
    display: inline-block;
    height: .5rem;
    text-align: center;
    line-height: .5rem;
    font-size: .28rem;
    color: #FFFFFF;
    font-weight: 700;

}


.thanks img.code {
    position: absolute;
    top: 0.5rem;
    left: 1.1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: .5rem;
}

.thanks img.qq {
    position: absolute;
    top: 7.2rem;
    left: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
}

